<!DOCTYPE html>
<html>
<head>
	<title>Add a Journey</title>
</head>
<body>
<h1>Add a Journey</h1>

<% if @submitted && @all_ok %>
	<p>Journey Added.</p>
<% else %>

	<% if @submitted && !@all_ok %>
		<p style="color:red">There were errors in your form submission, please correct them below.</p>
	<% end %>

	<form method="post" action="add">
		<!-- Error Validation -->
		<% if @submitted && !@taxiId_ok %>
		  	<p style="color:red">Please enter a valid taxi ID number</p>
		<% end %>

		<% if @submitted && !@userId_ok %>
		  	<p style="color:red">Please enter a valid User ID</p>
		<% end %>

		<% if @submitted && !@twitterHandle_ok %>
		  	<p style="color:red">Please enter a valid twitter handle</p>
		<% end %>

		<% if @submitted && !@dateTime_ok %>
		  	<p style="color:red">Please enter a valid date/time</p>
		<% end %>

		<% if @submitted && !@startLocation_ok %>
		  	<p style="color:red">Please enter a valid start location</p>
		<% end %>

		<% if @submitted && !@endLocation_ok %>
		  	<p style="color:red">Please enter a valid end location </p>
		<% end %>

		<% if @submitted && !@freeRide_ok %>
		  	<p style="color:red">Please enter a valid free ride</p>
		<% end %>

		<% if @submitted && !@cancelled_ok %>
		  	<p style="color:red">Please enter a 0 or 1 for cancelled?</p>
		<% end %>

		<% if @submitted && !@convoLink_ok %>
		  	<p style="color:red">Please enter a valid conversation link</p>
		<% end %>


		<p>Taxi ID:
		  	<input type="text" name="taxiId" value="<%=h @taxiId if @submitted %>"/>
		</p>

		<p>User ID:
		  	<input type="text" name="userId" value="<%=h @userId if @submitted %>"/>
		</p>

		<p>Twitter Handle:
		  	<input type="text" name="twitterHandle" value="<%=h @twitterHandle if @submitted %>"/>
		</p>

		<p>Date/Time:
		  	<input type="text" name="dateTime" value="<%=h @dateTime if @submitted %>"/>
		</p>

		<p>Start Location:
		  	<input type="text" name="startLocation" value="<%=h @startLocation if @submitted %>"/>
		</p>


		<p>End Location:
		  	<input type="text" name="endLocation" value="<%=h @endLocation if @submitted %>"/>
		</p>


		<p>Free Ride?:
		  	<input type="text" name="freeRide" value="<%=h @freeRide if @submitted %>"/>
		</p>


		<p>Cancelled:
		  	<input type="text" name="cancelled" value="<%=h @cancelled if @submitted %>"/>
		</p>


		<p>rating:
		  	<input type="text" name="rating" value="<%=h @rating if @submitted %>"/>
		</p>

		<p>Conversation Link:
		  	<input type="text" name="convoLink" value="<%=h @convoLink if @submitted %>"/>
		</p>


		<input type="submit" value="Submit" />
	</form>

<% end %>

</body>
</html>
