<!DOCTYPE html>
<html>
<head>
  <title>WebApp Analytics</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="css/admin_nav.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/analytics.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="https://www.google.com/jsapi"></script>
  <script src="js/chartkick.js"></script>
</head>
<body>
  <div id = "wrapper">
    <%= erb :admin_nav %>

    <div id = "page-content-wrapper">
      <nav>
        <h1 id = "Analytics">Alta</h1>
      </nav>
      <div id = "data">
        <div id =  "user_number">
          <h3>
            Total Number of Users by Today:
            <%= @howManyUsers.to_s.slice(2..-3)%>
          </h3>
          <center>
            <p>
                <%= line_chart @userData %>
            </p>
          </center>
        </div>
        <div id = "journey_number">
          <h3>
            Total Number of Journeys Taken by Today: 
            <%= @howManyJourneys.to_s.slice(2..-3)%>
          </h3>
          <center>
            <p>
                <%= line_chart @journeyData %>
            </p>
          </center>
        </div>
        <div id = "complaint_number">
          <h3>
            Total Number of Feedbacks by Today: 
            <%= @howManyFeedbacks.to_s.slice(2..-3) %>
          </h3>
           <center>
            <p>
                <%= line_chart @feedbackData %>
            </p>
          </center>
        </div>
          <div id = "taxi_number">
            <h3>
              Total Number of Taxis:
              <%= @howManyTaxis.to_s.slice(2..-3) %>
            </h3>
            <center>
              <p>
                <%= column_chart @taxiData %>
              </p>
            </center>
        </div>
      </div>  
    </div>
  </div>
  <script src="js/admin_nav.js"></script>
  <script> var timePrev = new Date().getTime();</script>
</body>
</html>
