<!DOCTYPE html>
<html>
<head>
  <title>Admin Dashboard</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="css/admin_nav.css">
  <link rel="stylesheet" type="text/css" href="css/dashboard.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>s
</head>
<body>
  <div id = "wrapper">
    <%= erb :admin_nav %>
    
    <div id = "page-content-wrapper">
      <nav>
        <h1 id = "alta">Alta</h1>
      </nav>
      <div id = "requests">
        <div id = "incoming_tweets">
          <h2>Tweets <a href = "/dashboard/fetch_tweets"><img src = "img/cloud.png" alt = "fetch_tweets" width = "35" id = "fetch_tweets"></a></h2>
          <div class = "displaytweets">
            <table>
                <% unless @tweets.nil? %>
                  <% if @tweets.length == 0 %>
                    <h3>Please click fetch tweets to fetch the tweets</h3>
                  <% else %>
                    <% @tweets.reverse_each do |tweet| %>
                        <tr>
                          <td class = "tweets">
                            <div>
                              <% unless tweet.nil? %>
                                <%=  TWITTER_CLIENT.oembed(tweet, hide_media: "true", hide_thread: "true").html%>
                              <% end %>
                              <div class = "reply">
                                <form method="post" action = "replyToTweet"> 
                                  Reply to Tweet: <input type="text" name="reply" value="<%=h params[:reply] %>"/>
                                  <% if params[:reply] == "" %>
                                      <p style="color:red">Please enter a valid tweet</p>
                                  <% end %>
                                  <% params[:tweetindex] = @tweets.index(tweet) %>
                                  <% params[:tweetid] = tweet.id %>
                                  <% params[:screen_name] = tweet.user.screen_name %>
                                  <input type = "hidden" name = "tweetindex" value = "<%=h params[:tweetindex]%>" />
                                  <input type = "hidden" name = "tweetid" value = "<%=h params[:tweetid]%>" />
                                  <input type = "hidden" name = "screen_name" value = "<%=h params[:screen_name]%>" />
                                  <input type="submit" name="button" value="reply" />
                                </form>
                              </div>
                            </div>
                            <div class = "tweet_actions">
                              <img src = "img/check.png" class= "check tweet_actions_icons" alt = "reply tweet" width = "50">
                              <form method="post" action = "delete_tweet"> 
                                <% params[:tweetindex] = @tweets.index(tweet) %>
                                <input type = "hidden" name = "tweetindex" value = "<%=h params[:tweetindex]%>" />
                                <input type="image" src = "img/cross.png" name="button" value="delete" class = "delete tweet_actions_icons" id = "delete_icon" >
                              </form>
                              <a href = "<%= tweet.uri %>"  target="_blank"><img src = "img/more_info.png" class= "moreinfo tweet_actions_icons" alt = "get more info" width = "50"></a>
                            </div>
                          </td>
                        </tr>
                    <% end %>
                  <% end %>
               <% end %>
              </table>
          </div>
        </div>
        <%= erb :addJourney %>
      </div>
    </div>
    <script>    
      $('.check').click(function() {
          $($(this).parent().prev()).toggleClass("displayreply");
      });
    </script>
    <script src="js/admin_nav.js"></script>
  </div>
</body>
</html>
