<h1>Edit feedback with ID: <%=h @feedbackToEdit[0] %></h1>

<p>Return to <a href="/settings">viewing the feedback</a>. </p>

<h2>Current feedback information:</h2>

<table>
    <tr>
        <th>ID</th>
        <th>Journey ID</th>
        <th>User ID</th>
        <th>Date Time</th>
        <th>Feedback</th>
        <th>Rating</th>
    </tr>
    <tr>
        <td><%=h @feedbackToEdit[0] %></td>
        <td><%=h @feedbackToEdit[1] %></td>
        <td><%=h @feedbackToEdit[2] %></td>
        <td><%=h @feedbackToEdit[3] %></td>
        <td><%=h @feedbackToEdit[4] %></td>
        <td><%=h @feedbackToEdit[5] %></td>
    </tr>
</table>

<h2>Change values of the feedback:</h2>

<% if @submitted && @all_ok %>
<p>Feedback Edited.</p>
<% else %>
<% if @submitted && !@all_ok %>
<!-- if there was validation errors: -->
<p style="color:red">There were errors in your form submission, please correct them below.</p>
<% end %>

<form action="/editFeedback/<%=h @id%>" method="post">
    <% if @submitted && !@journey_id_ok %>
    <p style="color:red">Please enter a journey ID</p>
    <% end %>
    <p>Journey ID:
        <input type="text" name="journey_id" value="<%=h @journey_id%>" />
    </p>

    <% if @submitted && !@user_id_ok %>
    <p style="color:red">Please enter a user ID</p>
    <% end %>
    <p>User ID:
        <input type="text" name="user_id" value="<%=h @user_id%>" />
    </p>

    <% if @submitted && !@date_time_ok %>
    <p style="color:red">Please enter a valid date time</p>
    <% end %>
    <p>Date Time:
        <input type="text" name="date_time" value="<%=h @date_time%>" />
    </p>


    <% if @submitted && !@feedback_ok %>
    <p style="color:red">Please enter a valid feedback</p>
    <% end %>
    <div class="textareaAlign">
        <p>Feedback:
            <textarea name="feedback"><%=h @feedback%></textarea>
        </p>
    </div>

    <% if @submitted && !@rating_ok %>
    <p style="color:red">Please enter a valid rating</p>
    <% end %>
    <p>Rating:
        <input type="text" name="rating" value="<%=h @rating%>" />
    </p>

    <input type="submit" value="Submit" />
</form>

<% end %>
