<h1>Edit User with ID: <%=h @complaintToEdit[0] %></h1>

<p>Return to <a href="/settings">viewing the complaints</a>. </p>

<h2>Current complaint information:</h2>

<table>
    <tr>
        <th>ID</th>
        <th>Journey ID</th>
        <th>User ID</th>
        <th>Date Time</th>
        <th>Complaint</th>
    </tr>
    <tr>
        <td><%=h @complaintToEdit[0] %></td>
        <td><%=h @complaintToEdit[1] %></td>
        <td><%=h @complaintToEdit[2] %></td>
        <td><%=h @complaintToEdit[3] %></td>
        <td><%=h @complaintToEdit[4] %></td>
    </tr>
</table>

<h2>Change values of the complaint:</h2>

<% if @submitted && @all_ok %>
    <p>Complaint Edited.</p>
<% else %>
    <% if @submitted && !@all_ok %> <!-- if there was validation errors: -->
        <p style="color:red">There were errors in your form submission, please correct them below.</p>
    <% end %>

    <form action="/editComplaint/<%=h @id%>" method="post">
        <% if @submitted && !@journey_id_ok %>
            <p style="color:red">Please enter a journey ID</p>
        <% end %>
        <p>Journey ID:
            <input type="text" name="journey_id" value="<%=h @journey_id%>"/>
        </p>

        <% if @submitted && !@user_id_ok %>
           <p style="color:red">Please enter a user ID</p>
       <% end %>
        <p>User ID:
            <input type="text" name="user_id" value="<%=h @user_id%>"/>
        </p>

        <% if @submitted && !@datetime_ok %>
            <p style="color:red">Please enter a valid date time</p>
        <% end %>
        <p>Date Time:
            <input type="text" name="date_time" value="<%=h @date_time%>"/>
        </p>

        <% if @submitted && !@complaint_ok %>
            <p style="color:red">Please enter a valid complaint</p>
        <% end %>
        <p>Complaint:
            <input type="text" name="complaint" value="<%=h @complaint%>"/>
        </p>

        <input type="submit" value="Submit" />
    </form>

<% end %>
