<!DOCTYPE html>
<html>

<head>
  <title>ALTA Home</title>
  <link rel="shortcut icon" href="public/img/alta.png" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <link rel="stylesheet" href="css/home_header.css" />
  <link rel="stylesheet" href="css/home_content.css" />
  <link rel="stylesheet" href="css/home_footer.css" />
</head>


<body id="bg">
  <!--navigation bar-->
    <header class="sticky"><%= erb :home_header %></header>

  <!-- Section0: Welcome Sign -->
    <div class="welcomeRow" id="section0">
      <div class="welcomeColumn1"></div>
      <div id="fade-in">
        <div class="welcomeColumnMid">
          <%if session[:loggedin] %>
            <div id="welcomeTextBox">
              <div class="welcomeHeader">RIDE WITH US NOW</div>
              <div class="welcomeText">Tweet <a class="twitterLink" href="https://twitter.com/ise19team29">@ise19team29</a> to get a taxi</div>
            </div>
          <% else %>
            <div id="welcomeTextBox">
              <div class="welcomeHeader">JOIN US TODAY</div> <br>
              <div class="welcomeText">Sign up with us via <a class="twitterLink" href="/login">Twitter</a><br> and get fantasitc deals</div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="welcomeColumn1"></div>
    </div>

  <!--Section1: How to use our service-->
  <div id="wrapper">
    <div class="section1Container"id="section1">
      <p class="sectionHeader">
        How it works
      </p>
      <div class=s"section1Row">
        <div class="section1Column">
          <p class="section1Header">Get a taxi:</p>
          <p class="section1Text">
            <ol>
                <li class="section1Text">Login to your Twitter account</li>
                <li class="section1Text">Tweet us by tagging our account name: @ise19team29. </li>
                <li class="section1Text">In the tweet tell us information on your start location, preferred taxi type (see below) and your end location.</li>
                <li class="section1Text">In next no time we will reply to let you know the status of your taxi.</li>
              </ol>
          </p>
        </div>
        <div class="section1Column section1Pic"></div>
        <div class="section1Column">
          <p class="section1Header">After tweeting us:</p>
          <p class="section1Text">If any more information is required, our staff will message you.</p>
          <p class="section1Text">Once everything is OK, we will then contact our local taxi drivers and they will be on their way to you.</p>
          <p class="section1Text">Payment will be made in the taxi after the ride. Payment method: Cash, Credit/Debit Card or any form of contactless payment.</p>
        </div>
      </div>
    </div>

  <!--Section 2: Types of taxi services-->
    <p class="sectionHeader" id="section2">Taxi Types</p>
    <div class="section2TaxiType">
      <span class="taxiType" id="taxiButtonS" onclick="typeSfunction()">type s</span>
      <span class="taxiType" id="taxiButtonM" onclick="typeMfunction()">type m</span>
      <span class="taxiType" id="taxiButtonL" onclick="typeLfunction()">type l</span>
    </div>

    <div id="taxiTypeS">
      <div class=" section2Container section2Row">
        <div class="section2Column"></div>
        <div class="section2ColumnMid">
          <div class="section2Header">Small (S) Taxi</div>
          <div class="section2Text">
            Type S is a 1-4 seated taxi.<br>
            It's the cheapest taxi we offer.<br>
            This a great option for low budget rides.<br>
            The price will vary based on the distance of the journey.
          </div>
          <img class="section2Pic" src="img/taxiS.png">
        </div>
        <div class="section2Column"></div>
      </div>
    </div>

    <div id="taxiTypeM">
      <div class="section2Container section2Row">
        <div class="section2Column"></div>
        <div class="section2ColumnMid">
          <div class="section2Header">Medium (M) Taxi</div>
          <div class="section2Text">
            Type M is a 1-6 seated taxi.<br>
            This is a great option for groups.<br>
            And a great option for average budget rides.<br>
            The price will vary based on the distance of the journey.
          </div>
          <img class="section2Pic" src="img/taxiM.png">
        </div>
        <div class="section2Column"></div>
      </div>
    </div>

    <div id="taxiTypeL">
      <div class="section2Container section2Row">
        <div class="section2Column"></div>
        <div class="section2ColumnMid">
          <div class="section2Header">Luxury (L) Taxi</div>
          <div class="section2Text">
            Type L is a 1-4 seated taxi.<br>
            This is our most expensive taxi type.<br>
            Ride with the most luxurious car brands.<br>
            The price will vary based on the distance of the journey.
          </div>
          <img class="section2Pic" src="img/taxiL.png">
        </div>
        <div class="section2Column"></div>
      </div>
    </div>

  <!-- Section3: Deals-->
    <div class="section3Container" id="section3">
      <div class="section3Column section3Pic1"></div>
      <div class="section3Column section3Pic2"></div>
      <div class="section3Container">
        <p class="sectionHeader">Deals</p>
        <p class="section3Text">Dont miss out on fantastic deals and discounts offered to customers signed up with us.<br></p>
        <p class="section3Text section3Deal">Our current deal :<br> For every <%=h $rideDeal %> rides with us you get a free ride!<br></p>
        <p class="section3Text" style="margin-bottom:0; padding-bottom:50px;">
          To see when you'll recive an offer, visit <a href="/myAccount">your account</a> after <a href="/login">signing up</a> with us.
          <br>To use your free ride, make sure to mention it in your tweet.
        </p>
      </div>
    </div>

  </div>


    <!-- Section4: Customer Reviews-->
      <div class="section4Container" id="section4 bg">
        <p class="sectionHeader" id="section4" style="color:white;">What do People Say</p>
        <div class="section4Row">
          <% @ratings.sample(3).each do |rating| %>
          <div class="section4Column" style="padding-bottom:20px;">
            <p class="section4Header">
              <% @name = @users.select{|user| user[0] == rating[2]} %>
              <% if @name.nil? || @name[0].nil? %>
                Anonymous
              <% else %>
                <%= @name[0][1] %>
              <% end %>
              <br>
              <% for i in 1..rating[5].to_i %>
                <span class="fa fa-star checkedStar"></span>
              <% end %>
                <% for i in 1..(5-rating[5].to_i) %>
                <span class="fa fa-star"></span>
              <% end %>
            </p>
            <p class="section4Text"><%= rating[3] %></p>
            <p class="section4Text"><%= rating[4] %></p>
          </div>
          <% end %>
        </div>
      </div>

  <!--Section5: About Us-->
    <div class="section5Container" id="section5">
      <div class="section5Row">
        <div class="section5Column1">
          <div class="sectionHeader">About Us</div>
        </div>
        <div class="section5Column2">
          <p class="section5Text">We are Alta. <br> The safest online transportation network company in the UK, located in Sheffield and Manchester. <br><br> We aim to provide our customers with the best, fastest and most convenient taxi service no matter if you are needing our services for individual needs or for group rides. <br><br>What makes us unique is our revolutionary way of ordering taxis. Simply tweet us and a taxi will be on its way to your location.<br><br><br></p>
        </div>
      </div>
    </div>


  <!-- Section6: Contact us -->
    <div class="section6Container" id="section6">
      <div class="section6Row">
        <div class="section6Column"></div>
    
        <div class="section6ColumnMid">
          <div class="section6Header">Get in Touch</div>
          <div class="section6Text">
            For any questions, please contact us on Twitter: <br>
            <a href="https://twitter.com/ise19team29" class="twitterLink">@ise19team29</a><br>
          </div>
          <div class="section6Text">
            Don't forget to sign up to our services <br>to receive the lastest news and exclusive offers!
          </div>
          <div class="section6Text"><a href="/login" class="twitterLink">SIGN UP NOW</a></div>
        </div>

        <div class="section6Column"></div>  
      </div>

  <!--footer-->
    <%= erb :home_footer %>
  </div>
  
  <script async src="js/content.js"></script>
</body>

</html>
