<!DOCTYPE html>
<html>

  <head>
    <title>ALTA Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <link rel="stylesheet" href="css/home_header.css" />
    <link rel="stylesheet" href="css/home_content.css" />
    <link rel="stylesheet" href="css/home_footer.css" />
  </head>
    

  <body id="bg">  
  <!--navigation bar-->
    <header class="stick">
        <%= erb :home_header %>
    </header> 
     
    <div id = "wrapper">
      
    <div id = "page-content-wrapper">

<!--Welcoming Sign up-->

<div class="welcome-row" id="section0" style=" height:750px">
    <div id="fade-in">

        <div class="welcome-left">
            <%if session[:loggedin] %>
            <div id="welcome-left-box">
                <div class="head-box1">RIDE WITH US NOW</div>
                <div class="head-box2">Tweet at us<a class="twitter" href="https://twitter.com/ise19team29">@ise19team29</a> to get a taxi</div> </div>
                <% else %>
                <div id="welcome-left-box">

                    <div class="head-box1">JOIN.US.TODAY</div> <br>
                    <div class="head-box2">Sign up with <a class="twitter" href="/login">Twitter</a><br> to get the Greatest DEALS<br> & <br> FREE RIDES!</div>
                    </div></div>
            <% end %>
        </div>
    </div>
</div>
        


<!--Content 1: How to use our service-->
<div class="content-wrapper">
<div class="info1-container" id="section1">        
        <p class="titles uppercaseT info1-title">
            How to use our Services
        </p>

        <div class="info1-column info1-col2">
            <div class="info1-box info1-box2">
                <p class="info1-content1">To get a car...
                </p>
                <p class="info1-content1">
                    <ol style="padding-left:10px;">
                    <li class="info1-lists">Login to your Twitter</li>
                    <li class="info1-lists">Tweet us by tagging us with our account name, @ise19team29. </li>
                    <li class="info1-lists">Provide these required information: start location, preferred taxi type (see below) and your end location.</li>
                    <li class="info1-lists">In no time, we will reply or direct message you.</li>
                    </ol> 
                </p>
            </div>
        </div>        

        <div class="info1-column">
                <img class="info1-img" src="img/background1.jpg">
        </div>

        <div class="info1-column info1-column2">
            <div class="info1-box">
                <p class="info1-content1">After tweeting us...</p>
                    <p class="info1-content2">
                        We will then contact our local taxi drivers, and they will reach to you.
                    </p>
                <p class="info1-content2">Payment method: Cash / Credit Card</p>
            </div>
        </div>
    </div>


    <!--Content 2: Types of taxi services-->

    <div class="slideshow-container section22" id="section2" >
        
        <div class="mySlides">
            <div class="info4-container container">
                <div class="bd-row1" style="height:780px;">
                    <div class="info4-column">
                        <div class="info4-box">
                            <div class="info4-title uppercaseT">Types of Taxis</div>
                            <div class="info4-content1">Small (S) Taxi</div>
                            <div class="info4-content2">
                            This is a 1-4 seated taxi.<br>
                            The cheapest taxi type you find here.<br>
                            This a great option for a low budget rides.<br>
                            The price varies based on the distance and waiting type.
                            </div>
                        </div>
                    </div>
                    <div class="info4-column">
                    <div class="info4-indicators">
                        <span class="info4-indict" onclick="currentSlide(1)"><b>Type S</b></span> 
                        <span class="info4-indict" onclick="currentSlide(2)"><b>Type M</b></span>
                        <span class="info4-indict" onclick="currentSlide(3)"><b>Type L</b></span>
                    <!-- <span class="info4-indict" onclick="currentSlide(4)">Type 4</span> -->
                    </div>
                        <img class="info4-img" src="img/taxiS.png">
                    </div>
                </div>
            </div>
        </div>

        <div class="mySlides">
            <div class="info4-container container">
                <div class="bd-row1">
                    <div class="info4-column">
                        <div class="info4-box">
                            <div class="info4-title uppercaseT">Types of Taxis</div>
                            <div class="info4-content1">Medium (M) Taxi</div>
                            <div class="info4-content2">
                            This is a 1-6 seated taxi.<br>
                            This is a great option for groups.<br>
                            This is a great option for average budget rides.<br>
                            The price varies based on the distance and waiting type.
                            </div>
                        </div>
                    </div>
                    <div class="info4-column">
                    <div class="info4-indicators">
                        <span class="info4-indict" onclick="currentSlide(1)"><b>Type S</b></span> 
                        <span class="info4-indict" onclick="currentSlide(2)"><b>Type M</b></span>
                        <span class="info4-indict" onclick="currentSlide(3)"><b>Type L</b></span>
                    <!-- <span class="info4-indict" onclick="currentSlide(4)">Type 4</span> -->
                    </div>
                        <img class="info4-img" src="img/taxiM.png">
                    </div>
                </div>
            </div>
        </div>

        <div class="mySlides">
            <div class="info4-container container">
                <div class="bd-row1">
                    <div class="info4-column">
                        <div class="info4-box">
                            <div class="info4-title uppercaseT">Types of Taxis</div>
                            <div class="info4-content1">Luxury (L) Taxi</div>
                            <div class="info4-content2">
                            This is a 1-4 seated taxi.<br>
                            This is the most expensive taxi type.<br>
                            Rides with the most luxurious car brands.<br>
                            The price varies based on the distance and waiting type.
                            </div>
                        </div>
                    </div>
                    <div class="info4-column">
                    <div class="info4-indicators">
                        <span class="info4-indict" onclick="currentSlide(1)"><b>Type S</b></span> 
                        <span class="info4-indict" onclick="currentSlide(2)"><b>Type M</b></span>
                        <span class="info4-indict" onclick="currentSlide(3)"><b>Type L</b></span>
                    </div>
                        <img class="info4-img" src="img/taxiL.png">
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Content 3: Deals-->

    <div class="info3-container section33" id="section3">              
        <div class="info3-column">
            <div class="info3-box info3-img1">
                <div class="info5-cont">
                
                </div>
            </div>
        </div>

        <div class="info3-column">
            <div class="info3-box info3-img2">
                <div class="info5-cont">
                 
                </div>
            </div>
            <div class="info3-textcontainer">
            <p class="info3-textbox1"></p>
           </div>
        </div>
        <div class="info3-textcontainer ">
        <p class="info3-textbox1 titles uppercaseT">deals</p>
          <p class="info3-textbox2 info3-text">Dont miss out on the fantastic deals and discounts we offer to out customers.<br><br><br><br><br><br><br></p>
       </div>
    </div>
    </div>


    <!-- Content 4: Customer Reviews-->

    <div class="info5-container" id="section4">        
        <p class="titles info5-title uppercaseT">
            What do People Say</p>
        <div class="info4-CRrow">
            <% @ratings.sample(3).each do |rating| %>
              <div class="info5-column">
                <div class="info5-box">
                  <div class="info5-cont">
                    <p class="info5-name">
                      <% @name = @users.select{|user| user[0] == rating[2]} %> 
                      <% if @name.nil? || @name[0].nil? %>
                          Anonymous
                      <% else %>
                          <%= @name[0][1] %>
                      <% end %>
                        <br>
                       <% for i in 1..rating[5].to_i %>
                        <span class="fa fa-star info5-checked"></span>
                       <% end %>
                       <% for i in 1..(5-rating[5].to_i) %>
                        <span class="fa fa-star"></span>
                       <% end %> 
                    </p>
                    <p class="info5-date"><%= rating[3] %></p>
                    <p class="info5-reviews">
                        <%= rating[4] %>
                    </p>
                  </div>
              </div>
            </div>      
          
            <% end %>
            </div>
        </div>    
    </div>
    

    <!--Content 5: About Us-->

    <div class="container info1-container" id="section5">
        <div class="bd-row1 info1-row1">
            <div class="bd5-column1">
                <div class="info1-box">
                    <div class="info5-AboutusTitle uppercaseT">About Us</div>
                    <div class="info1-vl"></div>
                </div>
            </div>
            <div class="bd5-column2">
                <div class="info5-AboutUscontent">
                    We are Alta. <br> The safest and best guaranteed online transportation network company in th UK, located at Sheffield. <br><br> We aim to provide our customers the safest, fastest and most convenient taxi services, no matter you are purchasing our services for individual needs to group rides. <br><br><br><br><br>
                </div>
            </div>

        </div>
    </div>




    <!-- Content 6: Contact us and banner -->
    <div class="info6-container" id="section6">        

        <div class="info6-column">
            <div class="info6-box">
                <div class="info6-cont">
                </div>
            </div>
        </div>        

        <div class="info6-maincolumn">
            <div class="info6-box">
                <div class="info6-cont">
                    <div class="info6-title">Get in Touch</div>
                    <div class="info6-content1">
                        For any questions, <br> please contact us at Twitter, <br>
                        <a href = "https://twitter.com/ise19team29" class="ourTwitter">@ise19team29</a>
                    </div>
                    <div class="info6-content2">
                        Don't Forget to sign up to our services <br>to receive the lastest news and exclusive offers!
                    </div>
                    <div class="info6-content3">
                        <div class="ft-tw">
                            <a href = "/login" class="ft-tw-link">SIGN UP NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--footer-->
        <%= erb :home_footer %>
</div>
 <script async src="js/content.js"></script>
  </body>
  
</html>

