<!DOCTYPE html>
<html>
<head>
    <title>Settings</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/admin_nav.css">
    <link rel="stylesheet" type="text/css" href="css/settings.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
    <div id = "wrapper">
        <%= erb :admin_nav %>
        <div id = "page-content-wrapper">
            <h1>Settings</h1>
            <h2>Edit values:</h2>
            <form action="/settings" method="post">
                <% if @submitted && !@rideDeal_ok %>
                    <p style="color:red">Please enter a valid ride deal (positive number)</p>
                <% end %>
                <% if @submitted && @rideDeal_ok %>
                    <p>Ride deal value updated.</p>
                <% end %>
                <p>Ride Deal Value:
                    <input type="text" name="rideDeal" value="<%=h $rideDeal %>"/>
                </p>
            </form>

            <div id = "users">
              <%= erb :viewUsers %>
            </div>
            <div id = "taxis">
              <%= erb :viewTaxis %>
            </div>
            <div id = "feedback">
              <%= erb :viewFeedback %>
            </div>
            <div id = "journeys">
              <%= erb :viewJourneys %>
            </div>
        </div>
    </div>

    <script src="js/admin_nav.js"></script>
</body>
</html>
