<div id="fetch_tweets_header">
    <h2>Tweets </h2>
    <form id="fetchTweet">
        <input type="image" src="img/cloud.png" alt="fetch_tweets" id="fetch_tweets" name="button" value="fetch_tweets" />
    </form>
</div>
<div id="waitmsg"></div>
<div class="displaytweets">
    <div id="tweetUpdates">
        <% if @error then %>
        <p style="color:red"><%=@error%></p>
        <% end %>
        <% if @noNewTweets then%>
        <h4>No new tweets available</h4>
        <% end %>
        <% if @newTweets then%>
        <h4><%=@newTweets%> new tweets available</h4>
        <% end %>
    </div>

    <% if @tweets.length == 0 then%>
    <h3>Please click fetch tweets to fetch the tweets</h3>
    <% end %>
    <table>
        <% unless @tweets.nil? %>
        <% @tweets.reverse_each do |tweet| %>
        <tr>
            <td class="tweets">
                <div>
                    <div id="tweetHTML<%=@tweets.index(tweet)%>"></div>
                    <script>
                        //Bypass twitter gem oembed rate limit by requesting oembed directly from twitter api via AJAX  
                        $.ajax({
                            url: 'https://publish.twitter.com/oembed?url=<%=tweet.uri%>',
                            type: 'GET',
                            dataType: "jsonp",
                            success: insertHTML,
                            error: function(xhr, ajaxOptions, thrownError) {
                                if (xhr.status == 404) {
                                    //alert("This is maybe due to the user deleting thier tweet.");
                                    console.log("Triggered ajaxError handler.");
                                    var posting = $.post("handleDeletedTweet", {
                                        tweetindex: "<%=@tweets.index(tweet)%>"
                                    });
                                    posting.done(function(data) {
                                        $("#tweetHTML<%=@tweets.index(tweet)%>").parent().parent().parent().remove();
                                    });
                                }
                            }
                        });

                        function insertHTML(data) {
                            $('#tweetHTML<%=@tweets.index(tweet)%>').append(data.html);
                        }

                    </script>
                    <div class="reply">
                        <form class="replyToTweet">
                            <div id="reply<%=h@tweets.index(tweet)%>">
                                <textarea rows="5" cols="60" placeholder="Type your reply here" name="reply" id="replyInput<%=h@tweets.index(tweet)%>" value="<%=h params[:reply] %>" class="replyTextArea"></textarea>
                            </div>
                            <% if params[:reply] == "" %>
                            <p style="color:red">Please enter a valid tweet</p>
                            <% end %>
                            <% params[:tweetindex] = @tweets.index(tweet) %>
                            <% params[:tweetid] = tweet.id %>
                            <% params[:screen_name] = tweet.user.screen_name %>
                            <input type="hidden" name="tweetindex" value="<%=h params[:tweetindex]%>" />
                            <input type="hidden" name="tweetid" value="<%=h params[:tweetid]%>" />
                            <input type="hidden" name="screen_name" value="<%=h params[:screen_name]%>" />
                            <input type="submit" name="button" value="REPLY" id="replyBtn<%=h @tweets.index(tweet)%>" class="replyButton" />
                        </form>
                    </div>
                </div>
                <div class="tweet_actions">
                    <form class="fillInfoInJourney">
                        <input type="hidden" name="userId" value="<%=h tweet.user.id %>" />
                        <input type="hidden" name="twitterHandle" value="<%=h tweet.user.screen_name%>" />
                        <input type="hidden" name="convoLink" value="<%=h tweet.uri %>" />
                        <input type="image" src="img/check.png" name="button" alt="reply tweet" value="check" class="check tweet_actions_icons" id="reply_tweet_icon<%=h@tweets.index(tweet)%>">
                    </form>
                    <form class="deleteTweet">
                        <% params[:tweetindex] = @tweets.index(tweet) %>
                        <input type="hidden" name="tweetindex" value="<%=h params[:tweetindex]%>" />
                        <input type="image" src="img/cross.png" name="button" id="delete_tweet_icon<%=h@tweets.index(tweet)%>" value="delete" class="delete tweet_actions_icons">
                    </form>
                    <div>
                        <a href="<%= tweet.uri %>" target="_blank"><img src="img/more_info.png" class="moreinfo tweet_actions_icons" alt="get more info" width="50"></a>
                    </div>
                    <% if tweet.user.screen_name == "ise19team29" %>
                    <form class="destroyTweet">
                        <% params[:tweetindex] = @tweets.index(tweet) %>
                        <input type="hidden" name="tweetindex" value="<%=h params[:tweetindex]%>" />
                        <input type="image" src="img/destroyTweet.png" name="button" id="destroy_tweet_icon<%=h@tweets.index(tweet)%>" value="destroy" class="destroy tweet_actions_icons">
                    </form>
                    <% end %>
                </div>
            </td>
        </tr>
        <% end %>
        <% end %>
    </table>
</div>

<script>
    $(".fillInfoInJourney").submit(function(event) {
        event.preventDefault();
        $($(this).parent().prev()).toggleClass("displayreply");
        if ($(this).parent().prev().hasClass("displayreply")) {
            var term = []
            var $form = $(this);
            term[1] = $form.find("input[name='userId']").val();
            term[2] = $form.find("input[name='twitterHandle']").val();
            term[3] = $form.find("input[name='convoLink']").val();
            // Send the data using post
            var posting = $.post("fillInfoInJourney", {
                userId: term[1],
                twitterHandle: term[2],
                convoLink: term[3]
            });

            posting.done(function(data) {
                var content = $(data);
                $("#add_journey").empty().append(content);
            });
        }

    });
    $(".replyToTweet").submit(function(event) {

        // Stop form from submitting normally
        event.preventDefault();

        // Get some values from elements on the page:
        var term = []
        var $form = $(this);
        term[1] = $form.find("input[name='tweetindex']").val();
        term[2] = $form.find("input[name='tweetid']").val();
        term[3] = $form.find("input[name='screen_name']").val();
        term[4] = $form.find("textarea[name='reply']").val();
        // Send the data using post
        var posting = $.post("replyToTweet", {
            tweetindex: term[1],
            tweetid: term[2],
            screen_name: term[3],
            reply: term[4]
        });

        posting.done(function(data) {
            var content = $(data);
            $("#incoming_tweets").empty().append(content);
        });
    });
    $(".deleteTweet").submit(function(event) {

        // Stop form from submitting normally
        event.preventDefault();

        // Get some values from elements on the page:
        var term = []
        var $form = $(this);
        term[1] = $form.find("input[name='tweetindex']").val();
        // Send the data using post
        var posting = $.post("deleteTweet", {
            tweetindex: term[1]
        });

        posting.done(function(data) {
            var content = $(data);
            $("#incoming_tweets").empty().append(content);
        });
    });
    $(".destroyTweet").submit(function(event) {
        // Stop form from submitting normally
        event.preventDefault();

        // Get some values from elements on the page:
        var term = []
        var $form = $(this);
        term[1] = $form.find("input[name='tweetindex']").val();
        // Send the data using post
        var posting = $.post("destroyTweet", {
            tweetindex: term[1]
        });

        posting.done(function(data) {
            var content = $(data);
            $("#incoming_tweets").empty().append(content);
        });
    });
    setTimeout(fade_out, 10000);

    function fade_out() {
        $("#tweetUpdates").fadeOut().empty();
    }
    $("#fetchTweet").submit(function(event) {
        // Stop form from submitting normally
        var interval = 10;
        event.preventDefault();
        var timeNow = new Date().getTime();
        console.log(timeNow);
        console.log(timeNow - timePrev);
        if (timeNow - timePrev >= interval * 1000) {
            timePrev = timeNow;
            // Get some values from elements on the page:
            var $form = $(this);
            // Send the data using post
            var posting = $.post("fetchTweets");
            posting.done(function(data) {
                var content = $(data);
                $("#incoming_tweets").empty().append(content);
            });
        } else {
            var ctdwn = Math.floor(interval - (timeNow - timePrev) / 1000)
            var x = setInterval(function() {
                $("#waitmsg").empty().append("<p style='color:red'>Please wait " + ctdwn + " seconds till you fetch tweets");
                ctdwn--;
                if (ctdwn <= 0) {
                    clearInterval(x);
                    $("#waitmsg").empty()
                }
            }, 1000);
        }
    });

</script>
