<!DOCTYPE html>
<html>

  <head>
    <title>ALTA Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <script async src="js/user_orders.js"></script>
    <link rel="stylesheet" href="css/user_header.css" />
    <link rel="stylesheet" href="css/user_footer.css" />
    <link rel="stylesheet" href="css/user_orders.css" />
  </head>

  <body id="bodyBackground">

  <!--Section1: Summary-->
    <div class="rideSummary">
      <div class="summaryContainer">
      
      <!--Navigation bar-->
        <header>
          <%= erb :user_header %>
        </header>
    
      <!--Greetings with twitterhandle and display current date-->
        <div class="summaryRow">
          <div class="greetingColumn">
            <div class="greetingContent">Welcome Back, <%=h session[:name] %></div>
          </div>
          <div class="dateColumn">
            <div class="dateContent" id="date">date</div>
          </div>
        </div>
        <div class="separation1"></div>

      <!--Summary Title-->
        <div class="summaryTitle">summary</div>
        <div class="separation1"></div>

      <!--Summary Content-->
        <div class="summaryRow">
          <div class="ridesTypeSummary">
            <div class="rideTypeContainer">
              <p class="rideTypeContent">Total Ride</p>
                <% totalR =0%>
                <% @results.each do |record| %>
                  <% totalR+=1 %>
                <%end%>
                <p><% puts --totalR %> </p>
                <h3> <%=h totalR%></h3>
            </div>
          </div>
          <div class="ridesTypeSummary">
            <div class="rideTypeContainer">
              <p class="rideTypeContent">Free Rides taken</p>
                <% freeR =0%>
                <% @results.each do |record| %>
                  <% if record[7]==0%>
                    <% freeR+=1 %>
                  <%end%>
                <%end%>
                <h3> <%=h freeR%></h3>
            </div>
          </div>
          <div class="ridesTypeSummary sumcolumn5">
            <div class="rideTypeContainer">
              <p class="rideTypeContent">Cancelled Rides</p>
                <% canlR =0%>
                <% @results.each do |record| %>
                  <% if record[8]==0%>
                    <% freeR+=1 %>
                  <%end%>
                <%end%>
                <h3> <%=h canlR%></h3>
            </div>
          </div>
        </div>

    <!--Deals Indicator-->
        <div class="dealsContainer">
          <div class="remainingRides">1 more ride for a free one!</div>
          <div class="iconBox"> <i class='fas fa-taxi taxiIcon'></i></div>
        </div>
      </div>
    </div>
  <!--End of Section1: Summary-->

    
  <!--History Title-->
    <div class="historyTitle">History</div>
  <!--Section2: Types of Views Buttons-->
    <div id="tableSection" class="container searchBarContainer">    
      <div class="tableTypeBox">
        <p class="tableTypeTitle">View As: </p>
        <span id="viewButton1" onclick="myView1()" class="tableTypeButton">Table</span>
        <span id="viewButton2" onclick="myView2()" class="tableTypeButton">Databse</span>
      </div>
    </div>
    
  <!--Section3: Filtable Search bar-->
    <div class="searchBarRow container searchBarContainer">
      <form method="get" action="userOrders" id="filterForm" onsubmit="goToTable()">
        <select id='filterList' name="column" class="selectStorage">
          <option selected='selected' value="none">Select...</option> 
          <option value="all">All</option> 
          <option value='id'>Reference Number</option> 
          <option value='date_time'>Travel Date</option> 
          <option value='start_location'>Start Location</option> 
          <option value='end_location'>End Location</option> 
          <option value='rating'>Rating</option>
        </select>
        <input type="text" name="search" value="<%=h params[:search] %>" class="searchBar">
        <input type="submit" id="order_table_submit" value="Submit" style= "width:80px">
      </form>
    </div>


  <!--Sectio4: Types of Rides Button-->
    <div class="container rideTypesContainer">
      <form method="get">
          <input class="rideTypeButton" type="submit" name="rideType" value="All">
          <input class="rideTypeButton" type="submit" name="rideType" value="Paid">
          <input class="rideTypeButton" type="submit" name="rideType" value="Free">
          <input class="rideTypeButton" type="submit" name="rideType" value="Cancelled">
      </form>
    </div>

<!--Section5: Order History-->

  <!--View2: Database Version-->
    <% unless @results.nil? %>
        <br />
        <table class="container" id="view2" >
          <thead class="databaseHeader">
            <tr>
              <th class="databaseCell">Reference Number</th>
              <th class="databaseCell">Travel Date</th>
              <th class="databaseCell">Start Location</th>
              <th class="databaseCell">End Location</th>
              <th class="databaseCell">Free</th>
              <th class="databaseCell">Cancelled</th>
              <th class="databaseCell">Rating</th>
            </tr>
          </thead>
        <% @results.each do |record| %>
          <tbody>
            <tr>
              <td class="databaseCell"><%=h record[0]%></td>
              <td class="databaseCell"><%=h record[4]%></td>
              <td class="databaseCell"><%=h record[5]%></td>
              <td class="databaseCell"><%=h record[6]%></td>
              <td class="databaseCell"><%=h record[7]%></td>
              <td class="databaseCell"><%=h record[8]%></td>
              <td class="databaseCell"><%=h record[9]%></td>
            </tr>
          </tbody>
        <% end %>
        </table>
    <% end %>
        
  <!--View1: Table Version-->
    <% unless @results.nil? %>
      <% if @results.length == 0 %> <p style="text-align:center;"> no results found </p> 
      <% else %>
        <div id="view1">
          <% @results.each do |record| %>
            <table class="container tableContainer">
              <tr>
                <td class="regNumRow">
                  <div class="tableRegNum"><%=h record[0] %></div>
                </td>
                <td></td>
                <td></td>
                <td>
                  <div id="ratings" class="tableRate">
                    <% if record[9].nil? || record[9] == 0 %>
                      <form method="post" action="/addRating">
                        <span class="ratingText">(no ratings, rate us now)</span>
                        <span onclick="myRating1()" id="rate1" class="fa fa-star" name="rating1" value="1"></span>
                        <span onclick="myRating2()" id="rate2" class="fa fa-star" name="rating2" value="2"></span>
                        <span onclick="myRating3()" id="rate3" class="fa fa-star" name="rating3" value="3"></span>
                        <span onclick="myRating4()" id="rate4" class="fa fa-star" name="rating4" value="4"></span>
                        <span onclick="myRating5()" id="rate5" class="fa fa-star" name="rating5" value="5"></span>
                      </form>
                    <% else %>
                      <% for i in 0..record[9]-1%>
                        <span class="fa fa-star" style="color:orange;"></span>
                      <% end %>
                      <% for i in 0..(4-record[9])%>
                        <span  class="fa fa-star"></span>
                      <% end %>
                    <% end %>
                  </div>
                </td>
              </tr>
            </table>
            <table class="view1 container tableBox">
              <tr class="tableContainer">
                <td class="tableColumn cellDate">On <%=h record[4]%></td><td></td><td></td>
              </tr>
              <tr>
                <td class="tableBox tableStartLoc">start</td>
                <td class="tableBox tableEndLoc">end</td>
              </tr>        
              <tr>
                <td class="tableColumn cellStartLoc"><%=h record[5] %></td>
                <td class="cellEndLoc"><%=h record[6] %></td>
              </tr>      
              <tr>
                <td class="tableBox tableFreeBox">
                  <% if record[7]==1 %>
                    <i class=" checkBox far fa-check-square" style="margin-left:30px"></i>
                  <% else %>
                    <i class=" checkBox far fa-square" style="margin-left:30px"></i>
                    <% end %>
                  <div class="cellFree">Free Rides</div>
                </td>
                <td class="tableBox tableCancelledBox">
                  <% if record[8]==1 %>
                    <i class=" checkBox far fa-check-square"></i>
                  <% else %>
                    <i class=" checkBox far fa-square"></i>
                  <% end %>
                    <div class="cellCancelled">Cancelled</div>
                </td>
                <td class="tableBox tableConvoBox"><a href class="chatLink">Conversation link</a></td>
              </tr>
            </table>
            <form method="post" action="/newReview">
              <input class=" container writeReview" type="text" name="newReview" value="<%=h params[:newReview] %>" placeholder="Tell us what do you think about our services !">
              <input class="container reviewSumbit" type="submit" value="SUBMIT">
            </form>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <div class="separation" style="height:100px;"></div>  

  <!--footer-->
    <%= erb :user_footer %>

  </body>
</html>
