<!DOCTYPE html>
<html>

<head>
    <title>My Orders</title>
    <link rel="shortcut icon" href="img/alta.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <link rel="stylesheet" href="css/user_header.css" />
    <link rel="stylesheet" href="css/user_footer.css" />
    <link rel="stylesheet" href="css/user_orders.css" />
</head>

<body id="bodyBackground">

    <!--Section1: Summary-->
    <div class="rideSummary">
        <div class="summaryContainer">

            <!--Navigation bar-->
            <header>
                <%= erb :user_header %>
            </header>

            <!--Greetings with twitterhandle and display current date-->
            <div class="summaryRow">
                <div class="greetingColumn">
                    <div class="greetingContent">Welcome Back, <%=h session[:name] %></div>
                </div>
                <div class="dateColumn">
                    <div class="dateContent" id="date">date</div>
                </div>
            </div>
            <div class="separation1"></div>

            <!--Summary Title-->
            <div class="summaryTitle">summary</div>
            <div class="separation1"></div>

            <!--Deals Indicator-->
            <div class="dealsText"><span style="color:rgb(250, 221, 76)"><%=h @ridesUntilDeal %> </span>rides until next free ride!</div>
            <div class="dealsContainer">
                <% @percentageDeal = ((@rideDeal-@ridesUntilDeal).to_f / @rideDeal.to_f)*100 %>
                <div class="dealsIndicator" style="width:<%=h @percentageDeal %>%"></div>
            </div>

            <!--Summary Content-->
            <div class="summaryRow">
                <div class="ridesTypeSummary summaryColumnLeft">
                    <div class="rideTypeContainer">
                        <p class="rideTypeContent"> Total Rides</p>
                        <h3><%=h @totalRides %></h3>
                    </div>
                </div>
                <div class="ridesTypeSummary summaryColumnMid">
                    <div class="rideTypeContainer">
                        <p class="rideTypeContent">Our Deals</p>
                        <p class="dealsContent"> <span style="color:rgb(255, 232, 118);"><%=h $rideDeal%> </span>Rides for a Free Ride!</p>
                    </div>
                </div>
                <div class="ridesTypeSummary summaryColumnLeft">
                    <div class="rideTypeContainer">
                        <p class="rideTypeContent">Free Rides Left</p>
                        <h3><%=h session[:freeRides] %></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Section1: Summary-->


    <!--History Title-->
    <div class="historyTitle">History</div>
    <!--Section2: Types of Views Buttons-->
    <div id="tableSection" class="container searchBarContainer">
        <div class="tableTypeBox">
            <p class="tableTypeTitle">View as: </p>
            <span id="viewButton1" onclick="myView1()" class="tableTypeButton">Table</span>
            <span id="viewButton2" onclick="myView2()" class="tableTypeButton">Database</span>
        </div>
    </div>

    <!--Section3: Filtable Search bar-->
    <div id="view1_1" class="searchBarRow container searchBarContainer">
        <select id='filterList' name="column" class="selectStorage">
            <option value="all">All</option>
            <option value='id'>Reference Number</option>
            <option value='date_time'>Travel Date</option>
            <option value='start_location'>Start Location</option>
            <option value='end_location'>End Location</option>
            <option style="display:none"></option>
            <option style="display:none"></option>
            <option value='rating'>Rating</option>
        </select>
        <input type="text" id="filterInput" onkeyup="addFilter()" placeholder="Search for names.." title="Type in a name">
    </div>


    <!--Sectio4: Types of Rides Button-->
    <div id="view1_2" class="container rideTypesContainer">
        <div id="rideTypesContainerInputs">
            <input class="rideTypeButton" type="submit" name="rideType" value="All" onclick="addHeaderFilter()">
            <input class="rideTypeButton" type="submit" name="rideType" value="Paid" onclick="addHeaderFilter()">
            <input class="rideTypeButton" type="submit" name="rideType" value="Free" onclick="addHeaderFilter()">
            <input class="rideTypeButton" type="submit" name="rideType" value="Cancelled" onclick="addHeaderFilter()">
        </div>
    </div>

    <!--Section5: Order History-->

    <!--View2: Database Version-->
    <% unless @results.nil? %>
    <br />
    <table class="container" id="view2">
        <thead class="databaseHeader">
            <tr>
                <th class="databaseCell">Reference Number</th>
                <th class="databaseCell">Travel Date</th>
                <th class="databaseCell">Start Location</th>
                <th class="databaseCell">End Location</th>
                <th class="databaseCell">Free</th>
                <th class="databaseCell">Cancelled</th>
                <th class="databaseCell">Rating</th>
            </tr>
        </thead>
        <tbody id="databaseView">
            <% @results.each do |record| %>
            <tr>
                <td class="databaseCell"><%=h record[0]%></td>
                <td class="databaseCell"><%=h record[4]%></td>
                <td class="databaseCell"><%=h record[5]%></td>
                <td class="databaseCell"><%=h record[6]%></td>
                <td class="databaseCell"><%=h record[7]%></td>
                <td class="databaseCell"><%=h record[8]%></td>
                <td class="databaseCell"><%=h record[9]%></td>
            </tr>
            <% end %>
        </tbody>
    </table>
    <% end %>

    <!--View1: Table Version-->
    <% unless @results.nil? %>
    <% if @results.length == 0 %> <p style="text-align:center ;font-size:17px;"> no results found </p>
    <% else %>

    <div id="view1">
        <% @results.each do |record| %>
        <tr>
            <table class="container tableContainer">
                <tr>
                    <td class="regNumRow">
                        <div class="tableRegNum"><%=h record[0] %></div>
                    </td>
                    <td></td>
                    <td></td>
                    <td>
                        <div id="ratings" class="tableRate">
                            <% if record[9].nil? || record[9] == 0 %>
                            <form method="post" action="/addRating">
                                <span class="ratingText">(no ratings, rate us now)</span>
                                <input type="hidden" name="referenceNo" value="<%=record[0]%>">
                                <input type="submit" onclick="myRating1()" id="rate1" class="fa fa-star" name="rating" value="1">
                                <input type="submit" onclick="myRating2()" id="rate2" class="fa fa-star" name="rating" value="2">
                                <input type="submit" onclick="myRating3()" id="rate3" class="fa fa-star" name="rating" value="3">
                                <input type="submit" onclick="myRating4()" id="rate4" class="fa fa-star" name="rating" value="4">
                                <input type="submit" onclick="myRating5()" id="rate5" class="fa fa-star" name="rating" value="5">
                            </form>
                            <% else %>
                            <% for i in 0..record[9]-1%>
                            <span class="fa fa-star" style="color:orange;"></span>
                            <% end %>
                            <% for i in 0..(4-record[9])%>
                            <span class="fa fa-star"></span>
                            <% end %>
                            <% end %>
                        </div>
                    </td>
                </tr>
            </table>
        </tr>
        <tr>
            <table class="view1 container tableBox">
                <tr class="tableContainer">
                    <td class="tableColumn cellDate">On <%=h record[4]%></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="tableBox tableStartLoc">start</td>
                    <td class="tableBox tableEndLoc">end</td>
                </tr>
                <tr>
                    <td class="tableColumn cellStartLoc"><%=h record[5] %></td>
                    <td class="cellEndLoc"><%=h record[6] %></td>
                </tr>
                <tr>
                    <td class="tableBox tableFreeBox">
                        <% if record[7]==1 %>
                        <i class=" checkBox far fa-check-square" style="margin-left:30px"></i>
                        <% else %>
                        <i class=" checkBox far fa-square" style="margin-left:30px"></i>
                        <% end %>
                        <div class="cellFree">Free Rides</div>
                    </td>
                    <td class="tableBox tableCancelledBox">
                        <% if record[8]==1 %>
                        <i class=" checkBox far fa-check-square"></i>
                        <% else %>
                        <i class=" checkBox far fa-square"></i>
                        <% end %>
                        <div class="cellCancelled">Cancelled</div>
                    </td>
                    <td class="tableBox tableConvoBox"><a href class="chatLink">Conversation link</a></td>
                </tr>
            </table>
        </tr>
        <tr>
            <form method="post" action="/addReview">
                <input type="hidden" name="referenceNo" value="<%=record[0]%>">
                <input class=" container writeReview" type="text" name="newReview" value="<%=h params[:newReview] %>" placeholder="Tell us what do you think about our service!">
                <input class="container reviewSumbit" type="submit" value="SUBMIT">
            </form>
        </tr>
        <% end %>
        </table>
    </div>
    <% end %>
    <% end %>



    <div class="separation" style="height:90px;"></div>

    <!--General Overall Feebacks-->
    <div class="generalReviewBox container" id="addNewReview">
        <%= erb :addReview %>
    </div>

    <div class="separation" style="height:100px;"></div>

    <!--footer-->
    <%= erb :user_footer %>
    <script src="js/user_orders.js"></script>
</body>

</html>
