<h2>Journey table</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Taxi ID</th>
        <th>User ID</th>
        <th>Twitter Handle</th>
        <th>Date/Time</th>
        <th>Start Location</th>
        <th>End Location</th>
        <th>Free Ride</th>
        <th>Cancelled</th>
        <th>Rating</th>
        <th>Conversation Link</th>
        <th>Edit Record</th>
        <th>Delete Record</th>
    </tr>
    <% unless @journeyInfo.nil? %>
        <% @journeyInfo.each do |journey| %>
        <tr>
            <td><%=h journey[0] %></td>
            <td><%=h journey[1] %></td>
            <td><%=h journey[2] %></td>
            <td><%=h journey[3] %></td>
            <td><%=h journey[4] %></td>
            <td><%=h journey[5] %></td>
            <td><%=h journey[6] %></td>
            <td><%=h journey[7] %></td>
            <td><%=h journey[8] %></td>
            <td><%=h journey[9] %></td>
            <td><%=h journey[10] %></td>
            <td><a href='editJourney/<%=h journey[0] %>'>Edit</a></td>
             <td>
              <form method = "post" action = "/deleteFromTable" style = "margin:0;">
                  <input type = "hidden" name = "table" value = "journeys" />
                  <input type = "hidden" name = "id" value = "<%=h journey[0] %>" />
                  <input type="submit" value="Delete"  onclick="return confirm('Are you sure you want to delete this record?');" style = "background:none; border:none; color:#0088cc; outline:none"/>
              </form>
            </td>
        </tr>
        <% end %>
    <% end %>
</table>

<p>To add a new journey click <a href="/addJourney">here</a>.</p>
