<!DOCTYPE html>
<html>
<head>
  <title>Twitter Marketing Tab</title>
</head>
<body>
<h1>Custom Twitter Marketing</h1>

<form method="get">
  Search: <input type="text" name="search" value="<%=h params[:search] %>"/>
  <input type="submit" name="submit" value="submit" />
</form>

<form method="get">
  Tweet: <input type="text" name="tweet" value="<%=h params[:tweet] %>"/>
  <input type="submit" name="post tweet" value="submit" />
</form>
  
<!--<% unless @tweets.nil? %>
    <% if @tweets.length == 0 %>
        <p>No search results found!</p>
    <% else %>
        <br />
        <table border="1">
            <tr>
              <th>ID</th>
              <th>User</th>
              <th>Text</th>
            </tr>
            <% @tweets.each do |tweet| %>
                <tr>
                  <td>
                    <a href="<%=h tweet.uri %>">
                      <%=h tweet.id %>
                    </a>
                  </td>
                  <td>
                    <a href="<%=h tweet.user.uri %>">
                      <%=h tweet.user.screen_name %>
                    </a>
                  </td>
                  <td>
                    <%=h tweet.text %>
                  </td>
                </tr>
            <% end %>
        </table>
    <% end %>
<% end %> -->

</body>
</html>